[submodule "deps/git-subrepo"]
	path = deps/git-subrepo
	url = https://github.com/ingydotnet/git-subrepo.git
[submodule "mod-progression-system"]
	path = modules/mod-progression-system
	url = https://github.com/azerothcore/mod-progression-system.git
